.list-address {
    display: flex;
}

.item-address {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
}

/* .img-item {
    display: flex;
} */

.item {
    display: flex;
    align-items: center;
    
}

.text-item {
    margin: 0;
}

.btn {
    display: inline-block;
    border: 1px solid gray;
    border-radius: 4px;
    box-shadow: none;
    cursor: pointer;
}